.repo{
    width: 100%;

    margin-top: 30px;
    min-height: 60vh;
    border: 1px solid #5d5a6b;
    border-radius: 5px;

    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.file-manager{
    position: relative;
    width: 20%;
    min-height: inherit;
    padding: 10px 20px;
    border-right: 1px solid #5d5a6b;
}

.file-manager img {
    width: 30px;
    margin-right: 10px;
}

.code{
    width: 80%;
    padding: 5px;
}

.folder {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.folder-content{
    margin-top: 10px;
}

.file {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 10px auto;
    padding-left: 20px;
    font-size: 18px;
}
