@font-face {
  font-family:"Space-Mono";
  src: url("./assets/font/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family:"Oswald";
  src: url("./assets/font/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family:"Barlow";
  src: url("./assets/font/Barlow_Condensed/BarlowCondensed-SemiBold.ttf") format("truetype");
}

:root {
  font-family: "Space-Mono", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: visible;
}
